@import url('https://fonts.googleapis.com/css?family=Kreon:400,700|Ubuntu:400,500');

@import '/vendor/normalize.scss';
@import '/_variables.scss';
@import '/_mixins.scss';
@import '/_typography.scss';
@import '/_forms.scss';

body {
  background-color: $light-bg;
}

.nav {
    grid-area: nav;
    background-color: $dark-bg;
    color: white;
    // height: 100%;
    // overflow: auto;
    ul {
      li {
        list-style: none;
        line-height: 3rem;
      }
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  .content {
    grid-area: content;
    height: 100vh;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 100vh;
    h1 {
      margin: 0;
    }
    p {
      margin: 0;
      max-width: 40rem;
    }
  }

  @media (max-width: 800px) { 
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
        "navLogo"
        "nav"
        "content"
        ;
    }
    .nav {
      height: 0;
      transform: scaleY(0);
      transition: transform .3s .2s;
      &.open {
        height: auto;
        transform: scaleY(1);
        transition: transform .3s .2s;
      } 
    }
  }
  @media (min-width: 801px) { 
    .grid {
      display: grid;
      grid-template-columns: 280px 3fr;
      grid-template-rows: 100px 1fr;
      grid-template-areas: 
        "navLogo content content content"
        "nav content content content"
    }

  }


  .element-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-row-gap: 3rem;
}


  @include phone {
    .element-grid {
     grid-template-columns: 1fr;
     grid-gap: 1rem;
     grid-row-gap: 3rem;
 } 
 }
  // @media (min-width: 600px) { 

  // }


  // @media (min-width: 800px) { 

  // }


  // @media (min-width: 1200px) { 

  // }


  // @media (min-width: 1440px) { 

  // }



